<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<%- include('../../partials/sidebar.ejs') %>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Form Activity</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Activity Form</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Title</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
            <section class="content">
              <form action="" method="post">
                  <div class="row">
                      <div class="col-md-12">
                            <div class="card card-primary">
                              <div class="card-header">
                                <h3 class="card-title">New Activity Form</h3>
                                <div class="card-tools">
                                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                  </button>
                                </div>
                              </div>
                                <div class="card-body">
                                    <div class="form-group">
                                      <label for="Fullname">Fullname</label>
                                      <input type="text" id="Fullname" name="fullname" value="<%= user.fullname %>" class="form-control" disabled>
                                    </div>
                                    <div class="form-group">
                                      <label for="Department">Department</label>
                                      <input type="text" id="Department" name="department" value="<%= user.department %>" class="form-control" disabled>
                                    </div>
                                    <div class="form-group">
                                      <label for="Tanggal">Tanggal</label>
                                      <input type="date" id="Tanggal" name="activityDate" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label for="inputDescription">Project Description</label>
                                      <textarea id="inputDescription" class="form-control" name="desc" rows="4"></textarea>
                                    </div>
                                    <div class="form-group">
                                      <label for="jobType">Job Type</label>
                                      <select id="jobType" class="form-control custom-select" name="jobType">
                                        <option selected disabled>Select one</option>
                                        <option value="AFS">AFS</option>
                                        <option value="SE">SE</option>
                                        <option value="Presales">Presales</option>
                                        <option>---</option>
                                        <option value="TS">TS</option>
                                        <option value="RnD">RnD</option>
                                        <option value="SE">SE</option>
                                        <option value="Presales">Presales</option>
                                      </select>
                                    </div>
                                    <div class="form-group">
                                      <label for="case">Case</label>
                                      <input type="text" id="case" name="case" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label for="actionPlan">Action Plan</label>
                                      <textarea id="actionPlan" class="form-control" name="action" rows="4"></textarea>
                                    </div>
                                    <div class="form-group">
                                      <label for="Location">Location</label>
                                      <input type="text" id="Location" name="location" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label for="solving">Solving</label>
                                      <textarea id="solving" class="form-control" name="solving" rows="4"></textarea>
                                    </div>
                                    <div class="form-group">
                                      <label for="inputStatus">Status</label>
                                      <select id="inputStatus" class="form-control custom-select">
                                        <option selected disabled>Select one</option>
                                        <option value="1">Pending</option>
                                        <option value="2">Success</option>
                                      </select>
                                    </div>
                                    <div class="form-group">
                                      <label for="pic">PIC</label>
                                      <input type="text" id="pic" name="pic" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label for="Position">Position</label>
                                      <input type="text" id="Position" name="poistion" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label for="phone">Phone Number</label>
                                      <input type="number" id="phone" name="phone" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label for="remaks">Remaks</label>
                                      <textarea id="remaks" class="form-control" name="remaks" rows="4"></textarea>
                                    </div>
                                </div>
                              <!-- /.card-body -->
                            </div>
                          <!-- /.card -->
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-12">
                          <a href="#" class="btn btn-secondary">Cancel</a>
                          <input type="submit" value="Create new Activity" class="btn btn-success float-right">
                      </div>
                  </div>
              </form>
            </section>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          Footer
        </div>
        <!-- /.card-footer-->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%- include('../../partials/footer.ejs') %>