<%- include('../../../partials/header.ejs') %>
<%- include('../../../partials/navbar.ejs') %>
<%- include('../../../partials/sidebar.ejs') %>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Activity Report</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">report</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Report <strong><%= user.fullname %></strong></h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>No.</th>
              <th>Nama</th>
              <th>Departement</th>
              <th>Tanggal</th>
              <th>Desc</th>
              <th>Job Type</th>
              <th>Case</th>
              <th>Action</th>
              <th>Location</th>
              <th>Solving</th>
              <th>Status</th>
              <th>PIC</th>
              <th>Position</th>
              <th>PhoneNumber</th>
              <th>Remaks</th>
              <th>Approve</th>
            </tr>
            </thead>
            <tbody>
              <% for(let i=0; i < activity.length; i++) { %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= activity[i].fullname %></td>
              <td><%= activity[i].department %></td>
              <td><%= activity[i].activityDate.toLocaleString().split(',')[0] %></td>
              <td><%= activity[i].desc %></td>
              <td><%= activity[i].JobType %></td>
              <td><%= activity[i].cases %></td>
              <td><%= activity[i].action %></td>
              <td><%= activity[i].location %></td>
              <td><%= activity[i].solving %></td>
              <td><%= activity[i].status %></td>
              <td><%= activity[i].pic %></td>
              <td><%= activity[i].position %></td>
              <td><%= activity[i].phone %></td>
              <td><%= activity[i].remaks %></td>
              <td><%= activity[i].approve %></td>
            </tr>
            <% } %>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <a href="/report" class="btn btn-primary btn-sm">back</a>
        </div>
        <!-- /.card-footer-->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%- include('../../../partials/footer.ejs') %>